.content {
	display: grid;
	grid-template-columns: 1fr 269px;
}

main {
	margin-top: 20px;
	margin-inline: 20px;
}

.section-header {
	display: flex;
	justify-content: space-between;
	color: red;
}

.card-list {
	margin-top: 20px;
	color: green;
}

.card-title {
	margin-bottom: 12px;
}

.card {
	border-radius: 12px;
	background-color: #9381ff;
	padding: 12px;
	width: 269px;
	height: 158px;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.card-footer {
	display: flex;
	justify-content: space-between;
}

.history-table {
	border-radius: 12px;
	background-color: #9381ff;
	height: 232px;
}

.status {
	margin-top: 20px;
}

.aside {
	background-color: chartreuse;
	height: 100vh;
}
